.right_align {
    justify-content: flex-start;
    flex-direction: row-reverse;
}
.right_align .chat_info {
    align-items: flex-end !important;
}

.right_align .name {
    transform-origin: right top !important;
}

.right_align .chat_message {
    background: hsla(256, 60%, 60%, 0.7) !important;
    box-shadow: 0 4px 20px hsla(256, 50%, 0%, 0.4) !important;
}

.right_align p {
    color: hsla(256, 60%, 100%) !important;
}
